html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* Бажано також задати колір фону для всього сайту тут, 
     щоб він збігався з кольором твоєї сторінки */
  background-color: #F4F4F4; 
}

/* Це також корисне правило для уникнення проблем з розмірами */
*, *:before, *:after {
  box-sizing: inherit;
}   