MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=energy_safe
GROQ_API_KEY=
ALLOWED_ORIGINS=http://localhost:3000,http://frontend:3000
JWT_SECRET_KEY=your-super-secret-key-change-this
